.comment {
	background-color: rgb(235,235,235);
	color: rgb(82,82,81);
	margin: 5px 10px;
	padding: 5px;
}

.commentsbutton {
	font-variant: small-caps;
	text-transform: lowercase;
}

input {
	background-color: #fff;
	border: rgb(82,82,81) 1px solid;
	border-radius: 2px;
	-moz-border-radius: 2px;
	text-transform: lowercase;
	-webkit-border-radius: 2px;
}

input:hover {
	color: rgb(82,82,81);
}

.post {
	border: rgb(239,121,17) 1px solid;
	border-radius: 3px;
	color: rgb(82,82,81);
	margin: 10px;
	-moz-border-radius: 3px;
	padding: 10px;
	-webkit-border-radius: 3px;
}

/* MEDIA QUERIES
---------------------------------------------------------------- */

/* 768px iPad Portait*/
@media only screen and (min-width: 768px) {
	.post {
		margin: 10px auto;
		width: 80%;
	}
}

/* 980px Desktop */
@media only screen and (min-width: 960px) {
	
}