@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

a {
    text-decoration: none;
}

a:hover {
    color: rgb(232,70,33);
}

body {
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
    width: 100%;
}

.bodytext {
    border: rgb(239,121,17) 1px solid;
    border-radius: 3px;
    color: rgb(82,82,81);
    font-size: 1em;
    margin: 10px 20px;
    -moz-border-radius: 3px;
    padding: 10px;
    -webkit-border-radius: 3px;
}

.container {
    border-top: rgba(136,208,234,0.5) 1px solid;
    padding: 0;
}

.cross {
    background: none;
    border: 0;
    color: rgb(82,82,81);
    height: 25px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    right: 0;
    top: 10px;
}

.hamburger {
    background: none;
    border: 0;
    color: rgb(82,82,81);
    height: 25px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    right: 0;
    top: 10px;
}

#logo {
    display: block;
    height: 160px;
    margin: 5px auto;
}

.login {
    margin-left: 10px;
    margin-top: 10px;
}

.menu {
    background: #fff;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.menu ul {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: rgba(136,208,234,0.5) 1px solid;
    display: block;
    padding: 15px 0 15px 0;
}

.menu li:hover {
    background: rgb(235,235,235);
    border-bottom: rgba(136,208,234,0.5) 1px solid;
    display: block;
    padding: 15px 0 15px 0;
}

.menu ul li a {
    color: rgb(239,121,17);
    margin: 0px;
    text-decoration: none;
}

.menu ul li a:hover {
    color: rgb(232,70,33);
    text-decoration: none;
}

.menu a {
    color: rgb(239,121,17);
    cursor: default;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(232,70,33);
    text-decoration: none;
}

#nav2 {
    display: none;
}

pre {
    font-family: 'Roboto Condensed', sans-serif;
}

.subhead {
    color: rgb(82,82,81);
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    width: 650px;
}

/* MEDIA QUERIES
---------------------------------------------------------------- */
/* 480px */
@media only screen and (min-width: 480px) {
    .subhead {
        color: #555;
        font-size: 1.4em;
        margin-left: 5%;
        text-align: left;
        text-transform: uppercase;
    }
}

/* 640px */
@media only screen and (min-width: 640px) {

}

/* 768px iPad Portait*/
@media only screen and (min-width: 768px) {
    .bodytext {
        margin: 10px auto;
        width: 80%;
    }

    .hamburger {
        display: none;
    }

    #logo {
        display: block;
        height: 160px;
        margin: 5px 15px;
    }

    #nav2 {
        display: block;
        margin-left: 200px;
        margin-top: -50px;
        padding: 0;
    }

    #nav2 ul {
        list-style-image: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav2 li {
        display: inline-block;
        padding: 15px;
    }

    #nav2 li:hover {
        background: rgb(235,235,235);
        padding: 15px;
    }

    #nav2 ul li a {
        color: rgb(239,121,17);
        margin: 0px;
        text-decoration: none;
    }

    #nav2 ul li a:hover {
        color: rgb(232,70,33);
        text-decoration: none;
    }

    #nav2 a {
        color: rgb(239,121,17);
        cursor: default;
        text-decoration: none;
    }

    #nav2 a:hover {
        color: rgb(232,70,33);
        text-decoration: none;
    }
}

/* 980px Desktop */
@media only screen and (min-width: 960px) {

}
